html,
body {
    margin: 0;
    padding: 0;
}

footer {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.baseFont {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

input {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0, 0, 15;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

#topBar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: white;
}

#menuItem:hover {
    filter: invert(40%);
}

.nav {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: hidden;
    background-color: black;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
}

.nav li {
    display: inline;
}

.nav a {
    float: none;
    display: inline-block;
    text-decoration: none;
    padding: 13px 40px;
    color: white;
}

.nav a:hover {
    background-color: dimgrey;
}

.container {
    width: 400px;
    text-align: center;
    position: relative;
    margin: 50px auto 100px;
}

.loginimg1 {
    width: 55px;
    height: 10;
}

.loginimg2 {
    width: 25px;
    height: 30;
}

.loginimg3 {
    width: 25px;
    height: 30;
}

STRONG {
    padding-bottom: 400px;
    font-size: 40px;
}

.between {
    margin-top: 30px;
}

input {
    margin: 10px;
}

#error {
    color: red;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
}

button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: black;
    width: 100%;
    margin: 10px 0 10px 10px;
    border: 0;
    padding: 15px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: 0.1s;
}

button:hover {
    background-color: gray;
}

.links a {
    line-height: 2;
    color: gray;
    text-decoration: none;
}

.links a:hover {
    color: #48BBFD;
    font-size: 18px;
    transition: 0.1s;
}

footer {
    text-align: center;
    padding: 20px;
    margin: 10px;
}
.home-area{
    background: url(images/1.jpeg);
    height:100vh;
    width: 100%;
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
}
.dark {
        background-color: black;
        color: white;
}    
img.emoji {
    -webkit-user-drag: none;
    height: 40px;
    font-weight: bold;
}
.button1 {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: black;
    padding-top: 2px;
    padding-right: 6px;
    padding-bottom: 3px;
    padding-left: 6px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-color:white;
    border-right-color: white;
    border-bottom-color:white;
    border-left-color: white;
    background-color: black;
    box-sizing: border-box;
    margin: 0;
    
}
/* .title p{
    background-color: white;
    color:black;
    font-style: italic;
    font-size: 45px;  
} */
* {box-sizing: border-box;}
.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color:transparent;
    border: 6px solid rgba(211, 210, 204, 0.671);
}
.box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;

}
.box div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;

}
.box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;

}
.box div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;

}
.box div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;

}
.box div:nth-child(6){
    top: 80%;
    left: 60%;
    animation: animate 12s linear infinite;

}
.box div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;

}
.box div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: animate 12s linear infinite;

}
.box div:nth-child(9){
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;

}
.box div:nth-child(10){
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;

}
@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 1;
    }
}
